:root {
  --fonte: "Roboto", sans-serif;
  --cor-fundo-1: #830024;
  --cor-fundo-2: #e16639;
  --cor-fundo-3: #f6828c;
  --cor-fundo-4: #a64253;
  --texto-1: #fff0f3;
  --texto-2: #44021e;
  --selecionado: #ff4d6d;
}

body {
  margin: 0;
  background-color: var(--cor-fundo-2);
  font-family: var(--fonte);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
