.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 50px; 
}

.modal-content {
  background-color: var(--cor-fundo-1);
  border: 2px solid var(--texto-2);
  border-radius: 8px;
  padding: 20px;
  max-width: 800px; 
  width: 100%;
}



.modal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-form label {
  font-weight: bold;
}

.modal-form input,
.modal-form select,
.modal-form textarea {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid var(--texto-2);
  border-radius: 4px;
  background-color: var(--cor-fundo-4);
  color: var(--texto-1);
}

.modal-form textarea {
  resize: vertical; 
}

.form-actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.form-actions button {
  padding: 10px 20px;
  font-size: 1rem;
  color: var(--texto-1);
  background-color: var(--cor-fundo-3);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-actions button:hover {
  background-color: var(--selecionado);
}
