.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--cor-fundo-2);
    min-height: 100vh;
  }

  .filme-container {
    align-items: center;
  }
  
  .home-page h1 {
    font-size: 3rem;
    color: var(--texto-1);
  }
  
  .home-page h2 {
    font-size: 2rem;
    color: var(--texto-2);
  }
  
  .home-page p {
    font-size: 1.2rem;
    color: var(--texto-1);
  }
  