.rodape {
    width: 100%;
    background-color: #333;
    padding: 15px;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
  }
  
  .rodape p {
    margin: 0;
    font-size: 0.9rem;
  }
  