.cabecalho {
    padding: 15px;
    color: var(--texto-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navegacao {
    margin-left: auto;
  }
  
  .navegacao  nav {
    display: flex;
    gap: 15px;
  }
  
  .navegacao  a {
    color: var(--texto-1);
    text-decoration: none;
  }
  
  .navegacao  a:hover {
    text-decoration: underline;
  }
  